@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*Animations*/
@keyframes rotate {
    0% {transform: rotate3d(1, 1, 1, 0deg);}
    50% {transform: rotate3d(1, 1, 1, 3deg);}
    100% {transform: rotate3d(1, 1, 1, 0deg);}
}


/*Styling*/
body {
    background-color: #121212;
}

main {
    margin: 15px;
    color: white;
    background-color: #232323;
    font-family: Inter;
    border-radius: 1rem;
    padding: 2.5%;
    animation-name: rotate;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 9999999999999;
} h1 {
    font-size: 3rem;
    text-align: center;
} summary {
    font-size: 1.5rem;
} a {
    color: white;
} button {
    background-color: #232323;
    color: white;
    border: 2px solid black;
    font-family: Inter;
    border-radius: 1rem;
}