@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
    font-family: "Source Code Pro";
    background: #d1f6ff;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

.social-link {
    text-decoration: none;
    color: #000000;
    background-color: #5498b8;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid black;
    transition: 500ms;
}

.social-link:hover {
    background-color: #000000;
    color: #ffffff;
}

.project-card {
    background-color: #65b6db;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    max-width: 20%;
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1;
    transition: 500ms;
}

.project-card:hover {
    scale: 110%;
}

h3 {
    margin: 0.2rem;
    font-size: 1.5rem;
}

.container {
    display: flex;
    gap: 1rem;
}