@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    font-family: "Inter";
}

body {
    background-color: #111; 
    color: white;
    display: flex;
}

#enterScreen {
    background: #00000000;
    border: none;
    color: white;
    font-size: 10rem;
    font-weight: 600;  
    justify-content: center;
    align-items: center;  
    margin: auto;
}

#website {
    display: none;
    justify-content: center;
    align-items: center;  
    margin: auto;
    background-color: #222;
    padding: 4rem;
    border-radius: 1rem;
    width: min-content;
}

#profile {
    display: flex;
}

#pfp-image {
    flex: 1;
    height: 150;
    width: 150px;
    padding: 15px;
}

#title {
    flex: 0;
    font-size: 4rem;
}

a {
    text-decoration: none;
    color: white;
}

#toggleM {
    color: white;
    background: #333;
    border: none;
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    transition: 500ms;
}

#toggleM:hover {
    background: #444;
    scale: 110%;
}

i {
    word-wrap: normal;
    color: #F9F9F9;
}